.flex-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.space-items{
    justify-content: center;
    gap: 8px;
    padding-top: 40px;
}
input[type="color"]{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}