body{
    font-family: 'Inter', sans-serif;
    background-color: #eeeeee;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#coming{
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
#menu{
    position: sticky;
    color: #ffffff;
    padding: 32px;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: deeppink;
    border-bottom: 4px solid white;
}
#menu a{
    text-decoration: none;
    padding: 32px;
    color: #ffffff;
    background-color: deeppink;
    transition: all 150ms ease-in-out 0s;
}
#menu a:hover{
    padding-bottom: 36px;
    filter: hue-rotate(180deg);
    mix-blend-mode:hard-light;
}