.flex-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.space-items{
    justify-content: space-between;
    gap: 8px;
    padding-top: 40px;
}
input[type="color"]{
    width: 192px;
    height: 24px;
    outline: none;
    border: none;
    box-shadow: 0 0 0 10px white inset;
}